/* start var */
:root {
    --main-color : #10cab7;
    --snd-color : #2c4755;
    --section-padding : 60px;
    --section-color : #f6f6f6;
    --main-duration : 0.3s;
}
/* end var */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: "work sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* /small screens 'phones'/ */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* /medium screens 'tablets'/ */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* /large screens 'computers'/ */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start header */
.header {
    padding: 20px;
}
.logo {
    width: 60px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .link {
    position: relative;
}
.container .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.container .link .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 1.5px;
}
.container .link .icon span:first-child {
    width: 100%;
    height: 3px;
}
.container .link .icon span:nth-child(2) {
    width: 60%;
    height: 3px;
    transition: var(--main-duration);
}
.container .link .icon span:last-child {
    width: 100%;
    height: 3px;
}
.container .link:hover span:nth-child(2) {
    width: 100%;
}
.container .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    min-width: 200px;
    position: absolute;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.container .link ul::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.container .link ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: black;
    transition: 0.5s;
    display: block;
}
.container .link ul li a:hover {
    padding-left: 30px;
}
.container .link ul li:not(:last-child) {
    border-bottom: 1px solid #333;
}
.container .link:hover ul {
    display: block;
}
/* end header */
/* START landing */
.landing {
    background-image: url(../imag/mooo.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
  .landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
  }
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
  /* end landing */
  /* start features */
  .features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .features .feat {
    text-align: center;
    padding: 25px;
  }
  .features .feat i{
    color: var(--main-color);
  }
  .features .feat h3 {
    font-weight: 800;
    margin: 15px 0;
  }
  .features .feat p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
  }
  /* end features */
  /* start component */
  .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
  }
  /* end component */
  @media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
  }
  /* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 30;
    margin-top: 100px;
}
.services .service-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .service-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .service-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .service-content .srv .text {
  flex: 1;
}
.services .service-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .service-content .srv .text p {
  color: #777;
  line-height: 1.8;
  font-weight: 300;
}
.services .service-content .image {
  text-align: center;
  position: relative;
}
.services .service-content .image::before {
  content: '';
  background-color: var(--snd-color);
  width:100px;
  height: calc(100% + 40px);
  top: -20px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .service-content .image img {
  width: 260px;
  height: 320px;
}
@media (max-width:1199px) {
  .image {
    display: none;
  }
}
/* end services */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.portfolio .port-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.portfolio .port-content .card {
  background-color: white;
}
.portfolio .port-content .card img {
  max-width: 100%;
}
.portfolio .port-content .info {
  padding: 20px;
}
.portfolio .port-content .info h3 {
  margin: 0;
}
.portfolio .port-content .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .photo {
  position: relative;
  width: 350px;
  height: 438px;
}
@media (max-width: 991px) {
  .about .about-content .photo {
    margin: 0 auto 60px;
  }
}
.about .about-content .photo img {
  max-width: 100%;
}
.about .about-content .photo::before {
  content: '';
  background-color: #ebeced;
  width:100px;
  height: calc(100% + 40px);
  top: -20px;
  position: absolute;
  left: -10px;
  z-index: -1;
}
.about .about-content .photo::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 300px;
  top: -20px;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  z-index: -1;
  right: -160px;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text p:last-of-type {
  font-size: 12px;
  line-height: 1.2;
  color: #777;
}
.about .about-content .text hr {
  border-color : var(--main-color);
  display: inline-block;
  width: 50%;
}
@media (max-width: 991px) {
  .about .about-content .photo::before,
  .about .about-content .photo::after{
    display: none;
  }
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.contact .cont-content {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
} 
.contact .cont-content .label {
  font-weight: 800;
  font-size: 35px;
  color: var(--snd-color);
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.contact .cont-content .link {
  display: block;
  font-size: 35px;
  color: var(--main-color);
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 15px;
}
.contact .cont-content .social {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.contact .cont-content .social i {
  margin-left: 8px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .contact .cont-content .label {
    font-size: 30px;
  }
}
/* end contact */
/* start footer */
.footer {
  background-color: var(--snd-color);
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
}
/* end footer */
  